.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}
.carousel-item.active{
    display: block;
}
.carousel{
    position: relative;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.element.style {
    height: 410px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #6F6F6F;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s
}

.btn-light {
    color: black;
    font-weight: 600;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}
.border-top {
    border-top: 1px solid #EDF1FF !important;
}
.bg-clr {
    background-color: #D19C97 !important;
    padding: 20px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.bg-light {
    background-color: #FFFFFF !important;
}
.d-block {
    display: block !important;
}
.text-primary {
    color: #D19C97 !important;
}
h1{
    color:black;
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
}
button, input {
    overflow: visible;
}
button, select {
    text-transform: none;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: left;
    font-weight: 600;
}
#header-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #D19C97;
}
@media (max-width: 991.98px){
.navbar-light .navbar-nav .nav-link {
    padding: 5px 0px;
}
}
.dropdown, .dropleft {
    position: relative;
}
.dropdown-toggle {
    white-space: nowrap;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: black;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color:black;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.navbar-light .navbar-nav .nav-link {
    padding:  10px;
    color: #1C1C1C;
    outline: none;
}
.navbar-vertical.navbar-light .navbar-nav .nav-link {
    padding: 8px 30px;
    border-bottom: 1px solid #EDF1FF;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}

@media (max-width: 1200px){
    .h4 {
    font-size: calc(1.275rem + 0.3vw);
}
}

@media (max-width: 1200px){
.display-4 {
    font-size: calc(1.475rem + 2.7vw);
}
}
.font-weight-semi-bold {
    font-weight: 600;
}