/* .back-to-top-container .btn-primary{
    display: block;
    width: 100%;
    color: #212529;
    background-color: lightsteelblue;
} */
.back-to-top-container .btn-primary:hover{
    color: white;
    background-color: lightsteelblue;
}
.back-to-top-container .back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 11;
    cursor: pointer;
    color: #252129;
    width: 40px;
    height: 40px;
    animation: action 1s infinite alternate;
    border-radius: 0;
    display: block;
    background-color: lightsteelblue;

  }

  @keyframes action {
    0%{transform: translateY(0);}
    100%{transform: translateY(-15px);}
  }