/* .over{
    overflow-x: auto;
} */
/* .button_PM{
    background-color: #d19c97;
    border-radius: 0px;
} */
/* .button_PM:hover{
    background-color: #c5837c;
    color: #ffffff;
} */
.quantity_er{
    background-color: #edf1ff;
}
.button_PM, .quantity_er{
    width: 40px;
    margin: 0px;
    border: none;
}

.back img{
    height: 400px;
    width: 400px;
    

}
.back{
    border:2px;
    border-style: solid;
    border-color:whitesmoke;
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;

    /* margin-left: 5px;*/
    margin-top: 50px; 
    /* padding-right: 15px;
    padding-left: 15px; */
    align-content: center;
    text-align: center;
}
.text{
    color:#6F6F6F;
    font-family:sans-serif;
}
.cart_color{
    background-color: #131A22;
    color: #ffffff;
    margin-left: 20px;
}

.cart_color:hover{
    background-color: #131A22;
   
}
button, input {
    overflow: visible;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color:transparent !important;
}

.decrease-qty{
    background-color: #a1a1a1;
}

.idr-buttons{
    color: #ffffff;
    background-color: #131A22;
    border-radius: 0px !important;
}
.radio-btns{
    color: midnightblue;
}

/* .car{
    min-width:500px;
    margin-left: 5px;
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    align-content: center;
} */
@media (min-width: 320px){
    .back img{
     height: 150px;
     width: 150px;
     
}
}
@media (min-width: 425px){
    .back img{
     height: 200px;
     width: 200px;
     
}
}
@media (min-width: 768px){
    .back img{
     height: 300px;
     width: 300px;
     
}
}
@media (min-width: 992px){
   .back{
    padding: 2px;
   }
   .back img{
    height: 350px;
   }
     
}
@media (max-width: 425px){
    .button_PM, .quantity_er{
        width: 26px;
    }
      
 }


