/* .over{
    overflow-x: auto;
} */
.button_PM{
    background-color: #d19c97;
    border-radius: 0px;
}
.button_PM:hover{
    background-color: #c5837c;
    color: #ffffff;
}
.quantity_er{
    background-color: #edf1ff;
}
.button_PM, .quantity_er{
    width: 40px;
    margin: 0px;
    border: none;
}

.back img{
    height: 400px;
    width: 400px;
}
.back{
    border:2px;
    border-style: solid;
    border-color:whitesmoke;
    background-color: white;
    margin-bottom: 10px;

    margin-left: 5px;
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    align-content: center;
}
.text{
    color:#6F6F6F;
    font-family:sans-serif;
}
.cart_color{
    background-color: #d19c97;
    margin-left:15px;
}

.cart_color:hover{
    background-color: #c5837c;
    color: #ffffff;
}
button, input {
    overflow: visible;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color:transparent !important;
}
/* .car{
    min-width:500px;
    margin-left: 5px;
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    align-content: center;
} */
