/* .size{
  height: 100%;
  width:100%;
}
@media screen and (min-width:480px) {
  .heading{
    font-size:25px;
  }
  
} */
/* .inner{
  overflow : hidden;
}
.inner img{
  transition : all 1s ease;
}
.inner:hover img{
  transform: scale(1.5);
} */




