@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.small-container{
    background-color: #edf1ff;
    font-family: poppins;
    margin-bottom: 20px;
}

.P-L{
    padding: 30px 0 0 30px;
}

.P-R{
    padding: 30px 30px 0 0;
}

.text-cont-right{
    text-align: right;
}

.girl-image{
    height: 200px;
}

.button{
    text-decoration: none;
    color: #D19C97;
    border: 1px solid  #D19C97;
    padding: 8px 15px;
    font-size: 18px;
    transition: all 0.3s;
}

.button:hover{
    background-color: #D19C97;
    color: black;
}

.offer{
    color: #D19C97;
    font-size: 20px;
}
.card-heading{
    font-weight: bold;
    font-weight: 30px;
    margin:18px;
}