.contact-us-page .bg-secondary {
    background-color: #EDF1FF !important;
}
.contact-us-page .bg-secondary {
    background-color: #EDF1FF !important;
}
  

.contact-us-page button{
    background-color: #131A22;
}
.contact-us-page button:hover{
    color: #ffffff;
    background-color: #131A22;
}
.contact-us-page .text-dark{
    color: #37475a !important;
}