.login-popup-page .modal-content{
    padding-right: 0px !important;
}
.login-page-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-page-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-page-icon{
    font-size: 48px;
    color: #37475a;
}
.login-page-form{
    display: flex;
    flex-direction: column;

}
.login-name{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.login-popup-page .login-button{
    background-color: #131A22;
    color: #ffffff !important;
}
.login-popup-page .login-button:hover{
    /* color: #ffffff; */
    background-color: #131A22;
}
.login-button-container{
    text-align: center !important;
    margin-top: 10px;
}
.login-page-form-container .forgot-password{
    text-align: center;
    margin-top: 16px;
}

.login-page-form-container .input{
  display: block;
  border: 1px solid rgb(228, 228, 228);
  font-size: 16px;
  width: 100%;
  height: 48px;
  padding: 0 15px;
  margin-bottom: 10px;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
}

.login-page-form-container .input:focus {
border: 2px solid #37475a;
}